h1{
	text-align: center;
	color: #FFFFFF;
	font-family: cursive;
}
p{
	font-size: 28px;
	color: #FFFFFF;
}
img{
	width: 50%;
	margin-left: 370px;
}
body{
	background-color: #000000;
}

.car1{
	margin-left: 0px;
	box-shadow: 10px 5px 5px red;
}
.tr{
	 text-align: right;
}
